body {
  background-color: wheat;
  font-family: "Raleway", sans-serif;
  width: 70%;
  margin: auto;
}
.container {
  background-color: #a69bb63f;
  margin-top: 50px;
  padding: 50px 15px;
  border: 2px solid black;
  height: 300px;
}
#fortune {
  text-align: center;
  font-size: 24px;
}
#center {
  text-align: center;
  font-size: 3em;
  color: #459287;
}
#btn-container {
  width: fit-content;
  margin: auto;
}

#btn {
  padding: 10px;
  font-size: 16px;
  border: 5px solid brown;
  border-radius: 5px;
  color: #030303;
}
