* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}
.container {
  width: 700px;
  height: 500px;
  background-color: #a69bb63f;
  margin-top: 10px;
  padding: 2rem;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid black;
}
#fortune {
  margin: 1.5rem;
  line-height: 130%;
  text-align: center;
  font-size: 24px;
}
#center {
  align-self: center;
  margin-top: 5%;
  text-align: center;
  font-size: 3em;
  color: #459287;
}

#btn {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  width: 140px;
  height: 60px;
  margin: 0 auto;
  background-color: rgb(255, 36, 72);
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
  color: #030303;
  box-shadow: 0 5px 20px rgba(253, 19, 58, 0.25);
}
#btn:hover {
  --webkit-transform: scale(1.05);
  --ms-transform: scale(1.05);
  transform: scale(1.05);
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
  .btn {
    width: 140px;
    height: 60px;
    margin: 0 auto;
    background-color: rgb(255, 36, 72);
    padding: 10px;
    font-size: 1.2rem;
  }
}
